<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Twilio:ACCOUNT_SID" value="ACfd1891a2d6a3b03a2f7b9c1aa29d5d25"/>
    <add key="Twilio:AUTH_TOKEN" value="3eb125210711da169eb0207394d64be4"/>
    <add key="smtp:server" value="smtp.gmail.com"/>
    <add key="smtp:port" value="587"/>
    <add key="smtp:password" value="arunprasath123"/>
    <add key="smtp:userName" value="arunprasath.myp@gmail.com"/>
    <add key="smtp:senderEmailId" value="arunprasath.myp@gmail.com"/>
  </appSettings>
</configuration>
